<!DOCTYPE html>
<html>
  <head>
    <title>Drinker17</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= filestack_js_include_tag %>
    <script>
      var drinker17 = filestack.init('AgaDjqcSfQ0uI2Esfg3ynz');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand"><%= link_to "17 Drinker", root_path %></span>
      <ul class="nav mr-auto">
        <li class="nav-item nav-link">
          <%= link_to "BETA 版", ENV["BETA"] %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "JOB", job_path %>
        </li>
        <%- if current_user.present? %>
          <li class="nav-item nav-link">
            <%- if current_user.picture %>
              <img class="" src="<%= current_user.picture %>" style="width: 30px" />
            <%- end %>
            <span>HI <%= current_user.name %></span>
          </li>
        <% else %>
          <li class="nav-item active"><%= link_to "Google 登入", user_google_oauth2_omniauth_authorize_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "店家列表", drink_shops_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to "總排名列表", rank_path, class: 'nav-link' %>
        </li>
        <% if current_user.present? %>
          <li class="nav-item"><%= link_to "我的訂單紀錄", users_profile_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '登出', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% end %>
      </ul>

    </nav>
    <div class="container-fluid max-width-1200">
      <%= yield %>
    </div>
  </body>
  <%= yield :javascripts %>
</html>
