<!DOCTYPE html>
<html>
  <head>
    <title>Drinker17</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filestack_js_include_tag %>
    <script>
      var drinker17 = filestack.init('AgaDjqcSfQ0uI2Esfg3ynz');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand"><%= link_to "17 Drinker", root_path %></span>
      <ul class="nav mr-auto">
        <%- if current_user.present? %>
          <li class="nav-item nav-link">HI <%= current_user.email %></li>
        <% else %>
          <li class="nav-item active"><%= link_to "Google 登入", user_google_oauth2_omniauth_authorize_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "店家列表", drink_shops_path, class: 'nav-link' %>
        </li>
        <% if current_user.present? %>
          <li class="nav-item"><%= link_to "我的訂單紀錄", users_profile_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '登出', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% end %>
      </ul>

    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
